@using IEJPApps.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>@Strings.ApplicationTitle</title>
    <style>
        .ng-hide {
            display: none !important;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app" ng-cloak>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        @*<button type="button" class="navbar-toggle" ng-init="collapsed = true" ng-click="collapsed = !collapsed">*@
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("IEJP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @*<div class="navbar-collapse" ng-class="{collapse: collapsed}">*@
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li><a ui-sref="projects">{{'Navigation.Projects'|translate}}</a></li>
                            <li><a ui-sref="employees">{{'Navigation.Employees'|translate}}</a></li>
                            <li><a ui-sref="timesheet">{{'Navigation.TimeSheet'|translate}}</a></li>
                            <li><a ui-sref="expenditures">{{'Navigation.Expenditures'|translate}}</a></li>
                        </ul>
                    }

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="hidden-xs">
        <div class="container body-content">
            <hr />
            <p class="copyright">&copy; @DateTime.Now.Year - EVOLOGIQUE INC</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/angularui")
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    @Scripts.Render("~/bundles/app")

    <script>
        $(document).on('click', '.navbar-collapse.in', function (e) {
            if ($(e.target).is('a') && $(e.target).attr('class') !== 'dropdown-toggle') {
                $(this).collapse('hide');
            }
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>